/* 基礎設置 */
.container{
    width: 1190px;
     margin: 0 auto;
}

/* #region 頂部導航欄 */
.topbar{
    height: 30px;
    background-color: bisque;
}
/* 行內文字垂直居中 及font-size設置0來消除不同行空格*/
.welcome{
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}
.welcome span , .welcome a{
    font-size: 12px;
}
.welcome .hello{
   margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register  {
    padding-left: 10px;
}
.topbar-nav .list li {
    float: left;
    /* font-size: 12px; */
}
.topbar-nav .list{
    height: 30px;
    line-height: 30px;
    /* font-size: 0; */
}
.topbar-nav .list li a{
    padding: 0 15px;
    border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    border-right: none;
    padding-right: 0;
}

/* #endregion 頂部導航欄 */
/* #region 頭部 */
.header{
    height: 120px;
    background-color: skyblue;
}
.header .search form{
   margin-top: 42px;
   /* line-height: 120px; */
    /*消除兩個水平塊間空隙用font-size: 0;
    因input和button有其預設font-size不受元素值影響*/
   font-size: 0;
    
}
.header .search input{
    width: 508px;
    height:34px;
    border: 1px solid #DD302D;
    
}
.header .search button{
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url("../../images/serch_icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* #endregion 頭部 */

